body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

#gameboard{
    display: flex;
    border: 2px solid black;
}

.square {
    width: 115px;
    height: 115px;
    
}

.yellow {
    background-color: #fad465;
}

.blue {
    background-color: #555bad;
}

#info {
    height: 30px;
}

.highlight {
    background-color: #9da4d0;
}

.target {
    border: solid 10px rgb(155, 155, 51);
    box-sizing: border-box;
}

.chess-piece {
    height: 115px;
    width: 115px;
}